@CHARSET "UTF-8";

.row {
	margin: 0 !imporatant;
}

.nearest-header-nav {
  text-align: center;
}

.nearest-header-menu-btn {
  float: right;
  margin-right: 1%;
  color: #66cdaa;
}



.nearest-header-logo > div > img {
	width: 140px;
	float: left; 
	cursor:pointer; 
	margin-top: 10px; 
	padding-left: 15px;
}



.nearest-map-infowindow {
	margin-bottom: 0 !important;
}

/* Product Detail Item Border */
.nearest-work-list-border {
	border: 2px solid black;
}

/* PageNavigation Hover Background */
.pagenav :hover {
	background-color: #66cdaa !important;
}