@CHARSET "UTF-8";

p {margin:0 !important}

.nearest-margin-bottom {
	margin-bottom: 30px;	
}

.container {
	
	width: 1024px;
	margin: auto;
}

.fh5co-person {
  padding: 30px !important;
}

.fh5co-position {
	margin: 20px 0px;
}

#nearest-admin-wrap {
	width: 1024px;
	margin: 0px auto;
}

.nearest-admin-list {
	margin-top: 50px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.nearest-order-list-text {
	
	font-size: 16px;
	line-height: 1.5em;
	color: #3457ee;
}

.nearest-order-list-number {
	
	font-size: 20px;
	line-height: 1.5em;
	color: #ed4e4e;
}

#order-search {
	display: none;
}

#request-search {
	display: none;
}

.nearest-product-register {
	width: 100%;
}

.nearest-product-register > img {
	width: 400px;
	height: 280px;
}

#nearest-product-detail-form img {
	width: 400px;
  height: 280px;
}

.nearest-wrapp-position {
	position: relative;
	width: 100%;
}

.nearest-padding-top-1 {
  	padding-top: 30px;
}

.nearest-padding-top-2 {
    padding-top: 50px;
}

.form-horizontal .control-label {
	text-align: center;
}


.nearest-popup-margin {
	margin: 40px 30px 20px !important;
}

.form-btn {
	text-align: right;
}

/* popup 3d effect start */
.mfp-3d-unfold {
  
 
  .mfp-content {
    perspective: 2000px; 
  }
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
  }
  
  
  &.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: rotateY(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: rotateY(60deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}
/* popup 3d effect end */

.page-header {
	border-bottom: none !important;
}

.nearest-no-border td {
	border: 0px !important;
	text-align: center;
}
.nearest-text-left {
	text-align: left !important;
}

.nearest-upload-wrap {
	width: 100%;
}
.nearest-upload-image > img {
	width: 100%;
}

.nearest-upload-button {
	text-align: center;
	padding-top: 30px;
}

.nearest-file-upload {
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}


.nearest-middle-dialog {
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 850px;
    min-height: 500px;
    margin: 0 auto;
    position: relative;
}

.img-responsive {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

<!-- QnA part -->

.nearest-qnaText > p {
  font-family: Open Sans;
  font-weight: 200;
  height: 50px;
  overflow: hidden;
}

.nearest-qnaText {
  height: 120px;
  overflow: hidden;
  margin-bottom: 40px;
}

.qnaContentcard {
  margin: auto;
  margin-bottom: 50px;
  width: 15em;
}

.nearest-qnaContentcard{
  margin: auto;
  margin-bottom: 20px;
  width: 37em;
}

.nearest-qnaContext {
	background: #4d9cc9;
/* 	padding: .75em 5em 0em 5em;*/    
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
}

.nearest-qnaFooter {
	background: #F0F4F7;
	padding: 0.5em 1em;
	transition: all 500ms ease-in-out;
	border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
}

.nearest-qnaFootertext {
    color: #4d9cc9;
    font-family: Open Sans;
    font-weight: 200;
}

.qnaContenttop {
  background: #F0F4F7;
  padding: .75em 2em 0em 2em;
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
  
}
  
.qnaContenttop:after {
    content:'';
    position: relative;
    @include triangle(2em, #F0F4F7, down);
    top: 1em;
    left: 1em;
    z-index: 5;
}
  
.qnaContenttop-text {
    margin-top: .5em;
    font-family: Open Sans;
    font-weight: 200;
    
}
  
.qnaContenttop-text > h3 {
      font-family: Open Sans;
      font-weight: 200;
}
  
  
.qnaContenttoggle {
    color: #4d9cc9;
    position: relative;
    top: -.5em;
}

.qnaContentfinal {
  background: #4d9cc9;
  padding: 0.5em 6.3em;
  border-bottom-left-radius: .6em;
  border-bottom-right-radius: .6em;
  transition: all 500ms ease-in-out;
  
}
  
.qnaContentfinal:hover, .qnaContentfinal:focus {
    background: #3986ad;
}
  
.qnaContenttext {
    color: #fff;
    font-family: Open Sans;
    font-weight: 200;
}