@CHARSET "UTF-8";

#nearest-modal {
    /* basic */
    background-color: #fff;
    margin: 0 auto;
    width: 50%;
    padding: 30px;
    text-align: center;
    /* border-radius */
    border-radius: 12px;
    color: #337ab7;
    font-weight: bold;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4efc0+0,abbd73+100;Olive+3D+%232 */
			background: #e4efc0; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #e4efc0 0%, #abbd73 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #e4efc0 0%,#abbd73 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(45deg,  #e4efc0 0%,#abbd73 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
    
    /* box-shadow */
    /* -webkit-box-shadow: rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,0,0,.75) 0 0 70px inset;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,0,0,.75) 0 0 70px inset;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,0,0,.75) 0 0 70px inset;
    
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
    background: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
    background: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
    background: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
    background: linear-gradient(to bottom, #7d7e7d, #0e0e0e); */
    
    border-top: 1px solid #666;
    overflow: hidden;
}

#nearest-modal h1 {
    text-align:left;
    margin:0;
    font-size:35px;
    letter-spacing:-1px;
    margin-bottom:4px;
    text-shadow: 0 -1px 1px #000, 0 0px 5px rgba(0,0,0,.25);
}

.nearest-prod-list {
	padding-left: 5px;
	padding-right: 5px;
}

hr.nearest-line {
   /* border: 1px solid #acacac; */
   height: 1px;
   color: #acacac;
   background-color: #bebebe;
}

.nearest-image {
    width: 75%;
    height: 75%
}

.nearest-item-title {
    margin:0;
    font-size:25px;
    letter-spacing:-1px;
    margin-bottom:4px;
    color: #2f5677;
    /* text-shadow: 0 -1px 1px #000, 0 0px 5px rgba(0,0,0,.25); */
}

.nearest-item-detail {
    margin:0;
    color: black;
    font-size:18px;
    letter-spacing:-1px;
    margin-bottom:4px;
    /* text-shadow: 0 -1px 1px #000, 0 0px 5px rgba(0,0,0,.25); */
}

.nearest-item-total {
	font-size: 22px;
	color: #2f5677;
}

.nearest-purchase-pay {
    font-size: 23px;
}

.nearest-purchase-footer {
    float: right;
}

.nearest-item-cart {
    width: 30%;
    background:green;
    display:block;
    padding:15px 35px;
    float:left;
    color:white;
    text-decoration:none;
    
    font-weight:bold;
    text-shadow: 0 0 10px #000;
    border-top: 1px solid rgb(200,250,100);
    font-size:20px;
    
    -webkit-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,50,0,.75) 0 0 40px inset;
    -moz-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,50,0,.75) 0 0 40px inset;
    box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,50,0,.75) 0 0 40px inset;
    
    border-radius: 12px;
    
    background: #bfd255;
    background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
    background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
}

.nearest-item-purchase {
    width: 30%;
    background: red; 
    display: block;
    padding: 15px 35px;
    float: right;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-top: 1px solid rgb(250,150,100);
    font-weight: bold;
    
    -webkit-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(100,0,0,.75) 0 0 40px inset;
    -moz-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(100,0,0,.75) 0 0 40px inset;
    box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(100,0,0,.75) 0 0 40px inset;
    
    text-shadow: 0 0 10px #000;
    border-radius: 12px;
    
    background: #f3c5bd;
    background: -webkit-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
    background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
    background: -ms-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
    background: -o-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ff6600',GradientType=0 );
    background: linear-gradient(to bottom, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
}